/* Custom Font Imports */
@font-face {
	font-family: "caramel-ichor";
	src: url("../fonts/bloody-ichor-extrude.ttf");
}
@font-face {
	font-family: "skinny-drip";
	src: url("../fonts/skinny-drip.ttf");
}
@font-face {
	font-family: "great-vibes";
	src: url("../fonts/great-vibes.regular.ttf");
}
@font-face {
	font-family: "bronice";
	src: url("../fonts/bronice.regular.otf");
}



html{
	scroll-behavior: smooth;
	background-color: #312509;
}

h1 {
	font-family: 'caramel-ichor';
	font-size: 75px;
	color: gold;
	background-color: #312509; /* Cafe Noir */
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 10px;
}
h2 {
	font-family: "skinny-drip";
	color: gold;
	font-size: 5.5rem;
	flex-wrap: nowrap;
}
h3 {
	font-family: "great-vibes";
	color: gold;
	font-size: 88px;
}

p {
	font-family: "bronice";
	font-size: 15pt;
	word-spacing: 4px;
	line-height: 41px;
}

img {
	border-color: gold;
	border-style: solid;
	border-width: 10px;
	width: 500px;
}

section {
	display: flex;
}

#caramilk {
	/* background-color: #482683; Spanish Violet */
	background: rgb(6,0,111);
	background: linear-gradient(66deg, rgba(6,0,111,1) 0%, rgba(72,38,131,1) 35%, rgba(129,0,255,1) 100%); 
}

#caramilk > div {
	width: 48%;
}


#kawartha {
	/* background-color: #207A97; Pacific Cyan */
	background: rgb(72,38,131);
	background: linear-gradient(352deg, rgba(72,38,131,1) 0%, rgba(32,122,151,1) 100%); 
	text-align: center;
	width: 100%;
	
}
#kawartha div {
	width: 100%;
	margin: auto;
}
#cheesecake {
	background: rgb(126,67,67);
	background: linear-gradient(66deg, rgba(126,67,67,1) 0%, rgba(49,37,9,1) 100%); 
	color:antiquewhite;
	text-align: center;
	margin: auto;
	width: 100%;
}
#cheesecake div {
	width: 100%;
	margin: auto;
}

footer {
	background-color: black;
	color: ghostwhite;
	text-align: center;
}
img.skull {
	border: none;
	width: auto;
}
ul {
	list-style-type: none;
}